# Naukri.com Credentials
NAUKRI_EMAIL=your_naukri_email@example.com
NAUKRI_PASSWORD=your_naukri_password

# Job Search Configuration
SEARCH_QUERY=software engineer
SEARCH_LOCATION=Bangalore
SEARCH_EXP=2
RUN_HEADLESS=False   # True if you want headless Chrome

# PostgreSQL Database Configuration
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=your_postgres_password
PG_DB=naukri_db

# Job Filtering Keywords
SKIP_WORDS=application, java, php, net, ruby, trainer, data, vuejs, native, android, ui path, consultant, intern, gen ai, c++, esm, rhapsody, rpa, golang, devops
MUST_HAVE_WORDS=javascript, node, nest, python, nodejs, nestjs, django

# AI API Keys (Optional)
# For OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# For Gemini AI
GOOGLE_API_KEY=your_google_api_key_here
AUTHOR_NAME=Your Name Here